* {
  margin: 0
} 

 /* html {
  background-image: url(./images/bg2.jpg);
  height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
} */

a {
  text-decoration: none;
  color: #E5E7EB;
}

a:hover {
  opacity: 0.9;
  color: #3882F6;
}


.header-container {
  background-color: #1f2937;
  color: #F9FAF8;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header-navbar {
  width: 70%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-left {
  width: 45%;
  margin: 70px 0 90px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.header-button {
  align-self: baseline;
  border-radius: 5px;
  border: 0;
  padding: 5px 25px;
  font-weight: 600;
}

.hero-right-img {
  width: 45%;
  margin: 70px 0 90px;
  display: flex;  
  justify-content: center;
  align-items: center;
}

.hero-picture {
  height: fit-content;
  align-self: stretch;
}


.header-title {
  font-size: 48px;
  font-weight: 800;
}

.header-logo {
  font-size: 24px;
  font-weight: 800;
}

.header-logo img {
  width: 50px;
  height: 50px;
}

.header-info,
.nav-links {
  font-size: 18px;
  color: #E5E7EB;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links li {
  list-style: none;
}

.header-button,
.contact-button {
  background-color: #3882F6;
  color: #F9FAF8;
}

.main-container {
  width: 100%;
}

.main-info-section {
  width: 100%;
}

.card {
  max-width: 100px;
  text-align: center;
  display: inline-block;
  margin: 20px 20px 80px;
}

.card-img {
  width: 100px;
  height: 100px;
  border: solid 3px #3882F6;
  border-radius: 10px;
}

.card-container {
  display: flex;
  justify-content: center;
}



.main-title h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  margin: 40px 20px 20px;
  text-align: center;
}

.quote-section {
  background-color: #E5E7EB;
  width: 100%;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  padding: 60px;
  margin: 0 auto;
}

.quote-block {
  font-size: 26px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937;
  margin-bottom: 20px;
}

.quote-author {
  font-weight: bold;
}

.contact-us-section {
  color: #F9FAF8 ;
  padding: 50px;
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.contact-container {
  background-color: #3882F6;
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  gap: 50px;
}

.contact-button {
  border-radius: 7px;
  border: solid 1px white;
  padding: 1px 30px;
}

.footer-container {
  background-color: #1f2937;
  color: #F9FAF8 ;
  width: 100%;
}

.footer-info {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
}